.stats{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.3rem;
    height: fit-content;
    position: absolute;
    top: -2rem;
    left: 1rem;
}

.arrow{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem 0 0 0;
    list-style: none;
}
.upArrow{
    font-size: 2rem;
    color: green;
}
.award{
    display: flex;
    padding: 0 0 1rem 0;
    list-style: none;
}
.award :first-child{
    color: blue;
}