


.main {
    display: flex;
    justify-content: center;
    background-color: black;
    margin: 2rem 0;
}







@media screen and (min-width: 300px) and (max-width: 640px) {
    .card {
        height: fit-content; /*100%*/
        width: 80vw;
        margin: 3rem auto;
        grid-template-columns: 100%;
        grid-template-rows:1fr -1fr 1fr 6rem;
        grid-template-areas: 'title'
                            'votes'
                            'comments'
                            'footer';
        border-radius: 2%;
    }
    .stats{
        position: unset;
    }
    .arrow{
    grid-area: votes;
    margin: 3rem;
    }
    .post-title{
        grid-area: title;
        width: 70vw;
        padding: 0;
        font-size: 1.2rem;
        margin: 2rem auto;
    }
    .post-description{
        width: 50vw;
        padding: 0 1rem;
        line-height: 1.5rem;
        font-size: 1rem;
    }
    .search-container{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        border: 2px solid black;
        padding: 1rem;
        margin: 1rem;
    }
    .comment-component{
        grid-area: comments;
        display: flex;
        justify-content: center;
        width: 100%;
    }
    .comment-list{
        justify-content: space-between;
        width: 70vw;
        
    }
    .comment-list :nth-child(1){
        font-size: .7rem;
    }
    .comment-list :nth-child(2){
        font-size: .8rem;
    }
    .post-comment{
        width: 70vw;
    }
    .comment-body{
        padding: .5rem;
    }
    .comment-footer{
        grid-area: footer;
    }
}


@media screen and (min-width: 640px) and (max-width: 1200px){
    .card {
        width: 70vw;
        margin: 3rem auto;
        
    }
    .arrow{
    
    }
    .subreddits{
        width: 10rem;
        text-align: center;
        padding: 0;
    }
    .subreddits li{
        padding:0;
    }
    .post-title{
        width: 45vw;
        padding: 0;
        font-size: 1.2rem;
        margin-left: 1.5rem;
    }
    .post-description{
        width: 40vw;
        padding: 0 1rem;
        line-height: 1.5rem;
        font-size: 1rem;
    }
    .search-container{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        border: 2px solid black;
        padding: 1rem;
        margin: 1rem;
    }
    .comment-list{
        justify-content: space-between;
        width: 40vw;
        padding: 0 1.2rem;
    }
    .comment-list :nth-child(1){
        font-size: 1rem;
    }
    .comment-list :nth-child(2){
        font-size: .8rem;
    }
    .post-comment{
        width: 50vw;
    }
    .comment-body{
        padding: .5rem;
    }
}