.postlist{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card{
    display: grid;
    grid-template-columns: 10% 90%;
    grid-template-rows: 1fr -1fr 10rem;
    grid-template-areas:
                       '... title'
                       'comment comment'
                       'footer footer';
    background-color: white;
    width: 40vw;
    margin: 3rem 0;
    background-color: rgb(255, 255, 255);
    color: black;
    
    position: relative;
    height: fit-content;
}

.post-title-underline{
    width: 30vw;
    height: 1px;
    margin: 0 auto;
    color: black;
    background-color: black;
    
}
.post-title {
    font-size: 1.5rem;
    color: red;
    padding: 2rem 3rem 0 2rem;
    text-align: center;
    width: 25vw;
}
.votes{
    grid-area: votes;
}
.post{
    grid-area: title;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: fit-content;
}

.post-description{
    width: 30rem;
}
.comment-footer{
    grid-area: footer;
}

a{
    cursor: pointer;
    font-size: 1rem;
    color: orange;
}

a:hover{
    transform: scale(1.3);
}


img{
    width:50%;
    height: 50%;
}