

.page-title {
    color: rgb(255, 0, 0);
    background-color: black;
    height: 5rem;
    display: flex;
    align-items: center;
}
.header-title{
    padding: 0 3rem;
    font-size: clamp(2rem, 5vw, 6rem);
}
.header-title-span{
padding-left: 1rem;
font-weight: 100;
color:white;
}
.nav{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}
.search-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 10%;
    border: 3px solid red;
    border-radius: 50%;
    padding: 2rem;
    margin: 1rem;
    
    text-align: center;
}
.search-input{
    text-align: center;
    width: 50vw;
    height: 1rem;
    color: black;
    border-top: .1px solid rgba(255, 0, 0, 0.531);
    border-bottom: .1px solid rgba(255, 0, 0, 0.531);
    border-left: .1px solid rgba(255, 0, 0, 0.116);
    border-right: .1px solid rgba(255, 0, 0, 0.116);

}
.search-btn{
    cursor: pointer;
    background-color: rgb(255, 0, 0);
    color: white;
    font-size: 1rem;
}